{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 mb-4"> <!-- Added 'mb-4' class for margin -->
                <div class="card-body">
                    <h1 class="card-title text-center">Register</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <table class="table">
                            {{ form.as_table }}
                        </table>
                        <div class="text-center mt-3">
                            <input type="submit" name="submit" value="Register" class="btn btn-primary"/>
                        </div>
                    </form>

                    {% if messages %}
                        <ul class="list-unstyled mt-3">
                            {% for message in messages %}
                                <li class="text-danger">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
